<p id="notice"><%= notice %></p>

<p>
  <strong>Course name:</strong>
  <%= @training.course_name %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @training.topic %>
</p>

<p>
  <strong>Expositor:</strong>
  <%= @training.expositor %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @training.start_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @training.duration %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @training.attendance_id %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
