%h1 Listing site_users

%table
  %thead
    %tr
      %th Name
      %th Email
      %th Password digest
      %th
      %th
      %th

  %tbody
    - @site_users.each do |site_user|
      %tr
        %td= site_user.name
        %td= site_user.email
        %td= site_user.password_digest
        %td= link_to 'Show', site_user
        %td= link_to 'Edit', edit_site_user_path(site_user)
        %td= link_to 'Destroy', site_user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Site user', new_site_user_path
